body,h1,h2,h3,ul,li{
    margin: 5;
    padding: 5;
}
h1{
    color: green;
}
body{
    background-color:lightblue;
}
body{
    font-family: 'Courier New', Courier, monospace;
}
ul{
    background-color: blanchedalmond;
}